.modal-dialog {
    margin: 10rem auto !important;
    min-width: 1000px !important;
}

.modal-body {
    overflow-y: auto;
    overflow-x: auto;
    min-height: 500px !important;
}

@media (max-width: 992px) {
    .modal-dialog {
        margin: 0 auto !important;
        min-width: 100% !important;
    }
}
